<form [formGroup]="formularioCadastro" (ngSubmit)=" enviaCadastro()">
  <mat-form-field>
    <input matInput placeholder="Entre com seu nome" formControlName="nome">
    <mat-error *ngIf="nome?.errors?.['required']">Será necessário seu nome.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email de Login" formControlName="email">
    <mat-error *ngIf="email?.errors?.['required']">O campo de e-mail não pode estar vazio</mat-error>
    <mat-error *ngIf="email?.errors?.['email']">O formato do e-mail não é válido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Entre com a senha" formControlName="senha" type="password">
    <mat-error *ngIf="senha?.errors?.['required']">Esqueceu a senha</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirme a senha anterior" formControlName="confirmaSenha" type="password">
    <mat-error *ngIf="senha?.errors?.['required']">Confirme a senha</mat-error>
  </mat-form-field>
<mat-card-footer>
<button mat-button color="accent" type="submit">Cadastrar</button>
<button mat-button color="primary" >Fechar</button>
</mat-card-footer>
</form>
